html, body {
    height: 100%;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
    color: white;
    background-color: olivedrab;
}

main {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
